.back-arrow-box {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  border-bottom: 1px solid #ddd;
  font-family: Arial, sans-serif;
}

.back-arrow {
  font-size: 20px;
  margin-right: 15px;
  cursor: pointer;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

.profile-page-container {
  margin-right: 40px;
}
.user-info {
  display: flex;
  flex-direction: column;
}

.user-info .name {
  font-weight: bold;
  font-size: 18px;
  color: #0f1419;
}

.user-info .tweets {
  font-size: 14px;
  color: gray;
}

.profile-header {
  display: flex;
}
.cover-photo {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}
.profile-pic {
  position: absolute;
  bottom: -60px; /* justera för hur mycket den ska sticka ut */
  left: 20px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid white;
  background-color: white;
  z-index: 10;
  object-fit: cover;
}
.profile-container {
  margin-top: 80px; /* utrymme för profilbild */
  padding: 20px;
}
.name {
  margin: auto;
  font-size: 22px;
  font-weight: bold;
}
.handle {
  color: gray;
  margin-bottom: 10px;
  font-size: 16px;
}
.bio {
  margin: 10px 0;
}
.meta {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  color: #555;
}
.meta i {
  margin-right: 5px;
}
.stats {
  margin-top: 10px;
  font-weight: 500;
  display: flex;
  gap: 20px;
}
.stats span {
  margin-right: 15px;
}
.follow-button {
  display: inline-block;
  margin-left: 599px;

  margin-right: 20px;
  padding: 8px 16px;
  background-color: #0f1419;
  color: white;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
}

.banner-wrapper {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
}

.profile-details {
  margin-top: 80px;
  padding: 20px;
}

.tweet-count {
  margin-bottom: 20px;
}
.counter {
  font-size: 15px;
}

.photo-box {
  position: relative; /* viktigt! */
  width: 100%;
  height: auto;
}
