.continue-button {
  margin-top: 24px;
  padding: 12.8px 19.2px;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}
.twitterImg {
  height: 50px;
}
