/*img {
  height: 50px;
}
.identifierField {
  color: rgb(59, 57, 57);
  font-size: 14px;
  background-color: rgb(217, 213, 213);
  width: 100px;
  height: 30px;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profilePageContainer {
  display: flex;
  max-width: 700px;
  flex-direction: column;
  align-items: center;
}
.formProfilePage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 500px;
  margin-top: 20px;
}
.arrowImg {
  height: 12px;
  padding: 0px;
  margin-right: 50px;
}
.topBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.topBox h2 {
  margin-bottom: 0px;
  align-items: flex-start;
}
.topBoxP {
  margin: 0px;
  padding: 0px;
  padding-left: 15px;
}
.arrowNameTweetsNumberBox {
  margin-left: 0px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.imgWrapper {
  position: relative;
  width: 100%;
  max-width: 500px;
}

.bannerImg {
  width: 100%;
  height: auto;
  display: block;
}
.avatarPic {
  position: absolute;
  bottom: -20px;
  left: 20px;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  object-fit: cover;
}*/
